In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
aq_data_to_load = "aquisition_data.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
aq_data_df = pd.read_csv(aq_data_to_load)
aq_data_df

,Loan Identifier,Origination Channel,Seller Name,Original Interest Rate,Original UPB,Original Loan Term,Origination Date,First Payment Date,Original Loan-to-value (LTV),Original Combined Loan-to-value (CLTV),...,Loan Purpose,Property Type,Number of Units,Occupancy Type,Property State,Zip Code Short,Product Type,Co-borrower Credit Score at Origination,Mortgage Insurance Type,Relocation Mortgage Indicator
0,1.000010e+11,C,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",6,324000,360,2018-09-01,2018-11-01,80,80,...,C,PU,1,P,CA,925,FRM,665.0,NaN,N
1,1.000180e+11,B,OTHER,5,307000,360,2018-12-01,2019-02-01,90,90,...,P,PU,1,P,TX,770,FRM,NaN,1.0,N
2,1.000180e+11,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,256000,360,2018-11-01,2019-01-01,90,90,...,P,SF,1,S,NC,286,FRM,738.0,1.0,N
3,1.000200e+11,C,"WELLS FARGO BANK, N.A.",5,248000,360,2018-12-01,2019-02-01,90,90,...,P,SF,1,P,IL,600,FRM,791.0,1.0,N
4,1.000200e+11,B,"UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITE...",4,490000,360,2019-03-01,2019-05-01,67,67,...,P,CO,1,P,CA,945,FRM,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297447,9.999770e+11,C,PENNYMAC CORP.,5,250000,360,2018-12-01,2019-02-01,80,80,...,P,PU,1,S,NC,282,FRM,NaN,NaN,N
297448,9.999780e+11,B,"UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITE...",5,123000,360,2018-12-01,2019-02-01,95,95,...,P,SF,1,P,TX,799,FRM,NaN,1.0,N
297449,9.999830e+11,R,OTHER,5,280000,240,2018-12-01,2019-02-01,69,69,...,C,SF,1,P,WI,531,FRM,NaN,NaN,N
297450,9.999840e+11,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,155000,360,2019-01-01,2019-03-01,97,97,...,P,SF,1,P,CA,936,FRM,NaN,1.0,N
297451,9.999980e+11,R,QUICKEN LOANS INC.,6,75000,360,2018-12-01,2019-02-01,43,43,...,C,SF,1,P,NJ,82,FRM,644.0,NaN,N

In [4]:
# Determine if there are any missing values in the acquisition data.
aq_data_df.count()

Loan Identifier                            297452
Origination Channel                        297452
Seller Name                                297452
Original Interest Rate                     297452
Original UPB                               297452
Original Loan Term                         297452
Origination Date                           297452
First Payment Date                         297452
Original Loan-to-value (LTV)               297452
Original Combined Loan-to-value (CLTV)     297452
Number of Borrowers                        297452
Original Debt to Income Ratio              297356
Borrower Credit Score at Origination       297067
First Time Home Buyer Indicator            297452
Loan Purpose                               297452
Property Type                              297452
Number of Units                            297452
Occupancy Type                             297452
Property State                             297452
Zip Code Short                             297452
Product Type                               297452
Co-borrower Credit Score at Origination    130687
Mortgage Insurance Type                    111551
Relocation Mortgage Indicator              297452
dtype: int64

In [5]:
# Determine if there are any missing values in the acquisition data.
aq_data_df.isnull()

,Loan Identifier,Origination Channel,Seller Name,Original Interest Rate,Original UPB,Original Loan Term,Origination Date,First Payment Date,Original Loan-to-value (LTV),Original Combined Loan-to-value (CLTV),...,Loan Purpose,Property Type,Number of Units,Occupancy Type,Property State,Zip Code Short,Product Type,Co-borrower Credit Score at Origination,Mortgage Insurance Type,Relocation Mortgage Indicator
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297447,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
297448,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
297449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
297450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
297451,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [6]:
aq_data_df.isnull().sum()

Loan Identifier                                 0
Origination Channel                             0
Seller Name                                     0
Original Interest Rate                          0
Original UPB                                    0
Original Loan Term                              0
Origination Date                                0
First Payment Date                              0
Original Loan-to-value (LTV)                    0
Original Combined Loan-to-value (CLTV)          0
Number of Borrowers                             0
Original Debt to Income Ratio                  96
Borrower Credit Score at Origination          385
First Time Home Buyer Indicator                 0
Loan Purpose                                    0
Property Type                                   0
Number of Units                                 0
Occupancy Type                                  0
Property State                                  0
Zip Code Short                                  0
Product Type                                    0
Co-borrower Credit Score at Origination    166765
Mortgage Insurance Type                    185901
Relocation Mortgage Indicator                   0
dtype: int64

In [7]:
#determine data type
aq_data_df.dtypes

Loan Identifier                            float64
Origination Channel                         object
Seller Name                                 object
Original Interest Rate                       int64
Original UPB                                 int64
Original Loan Term                           int64
Origination Date                            object
First Payment Date                          object
Original Loan-to-value (LTV)                 int64
Original Combined Loan-to-value (CLTV)       int64
Number of Borrowers                          int64
Original Debt to Income Ratio              float64
Borrower Credit Score at Origination       float64
First Time Home Buyer Indicator             object
Loan Purpose                                object
Property Type                               object
Number of Units                              int64
Occupancy Type                              object
Property State                              object
Zip Code Short                               int64
Product Type                                object
Co-borrower Credit Score at Origination    float64
Mortgage Insurance Type                    float64
Relocation Mortgage Indicator               object
dtype: object

In [8]:
aq_df = aq_data_df.drop(['Co-borrower Credit Score at Origination', 'Mortgage Insurance Type'], axis=1)

In [9]:
aq_df.isnull().sum()

Loan Identifier                             0
Origination Channel                         0
Seller Name                                 0
Original Interest Rate                      0
Original UPB                                0
Original Loan Term                          0
Origination Date                            0
First Payment Date                          0
Original Loan-to-value (LTV)                0
Original Combined Loan-to-value (CLTV)      0
Number of Borrowers                         0
Original Debt to Income Ratio              96
Borrower Credit Score at Origination      385
First Time Home Buyer Indicator             0
Loan Purpose                                0
Property Type                               0
Number of Units                             0
Occupancy Type                              0
Property State                              0
Zip Code Short                              0
Product Type                                0
Relocation Mortgage Indicator               0
dtype: int64

In [12]:
clean_df = aq_df.dropna()

In [13]:
clean_df.count()

Loan Identifier                           296971
Origination Channel                       296971
Seller Name                               296971
Original Interest Rate                    296971
Original UPB                              296971
Original Loan Term                        296971
Origination Date                          296971
First Payment Date                        296971
Original Loan-to-value (LTV)              296971
Original Combined Loan-to-value (CLTV)    296971
Number of Borrowers                       296971
Original Debt to Income Ratio             296971
Borrower Credit Score at Origination      296971
First Time Home Buyer Indicator           296971
Loan Purpose                              296971
Property Type                             296971
Number of Units                           296971
Occupancy Type                            296971
Property State                            296971
Zip Code Short                            296971
Product Type                              296971
Relocation Mortgage Indicator             296971
dtype: int64

In [14]:
clean_df

,Loan Identifier,Origination Channel,Seller Name,Original Interest Rate,Original UPB,Original Loan Term,Origination Date,First Payment Date,Original Loan-to-value (LTV),Original Combined Loan-to-value (CLTV),...,Borrower Credit Score at Origination,First Time Home Buyer Indicator,Loan Purpose,Property Type,Number of Units,Occupancy Type,Property State,Zip Code Short,Product Type,Relocation Mortgage Indicator
0,1.000010e+11,C,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",6,324000,360,2018-09-01,2018-11-01,80,80,...,692.0,N,C,PU,1,P,CA,925,FRM,N
1,1.000180e+11,B,OTHER,5,307000,360,2018-12-01,2019-02-01,90,90,...,722.0,N,P,PU,1,P,TX,770,FRM,N
2,1.000180e+11,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,256000,360,2018-11-01,2019-01-01,90,90,...,728.0,N,P,SF,1,S,NC,286,FRM,N
3,1.000200e+11,C,"WELLS FARGO BANK, N.A.",5,248000,360,2018-12-01,2019-02-01,90,90,...,730.0,Y,P,SF,1,P,IL,600,FRM,N
4,1.000200e+11,B,"UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITE...",4,490000,360,2019-03-01,2019-05-01,67,67,...,727.0,Y,P,CO,1,P,CA,945,FRM,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297447,9.999770e+11,C,PENNYMAC CORP.,5,250000,360,2018-12-01,2019-02-01,80,80,...,753.0,N,P,PU,1,S,NC,282,FRM,N
297448,9.999780e+11,B,"UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITE...",5,123000,360,2018-12-01,2019-02-01,95,95,...,690.0,N,P,SF,1,P,TX,799,FRM,N
297449,9.999830e+11,R,OTHER,5,280000,240,2018-12-01,2019-02-01,69,69,...,760.0,N,C,SF,1,P,WI,531,FRM,N
297450,9.999840e+11,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,155000,360,2019-01-01,2019-03-01,97,97,...,781.0,Y,P,SF,1,P,CA,936,FRM,N
297451,9.999980e+11,R,QUICKEN LOANS INC.,6,75000,360,2018-12-01,2019-02-01,43,43,...,678.0,N,C,SF,1,P,NJ,82,FRM,N

In [16]:
#Rename the columns 
clean_df = clean_df.rename(columns={'Loan Identifier': 'loan identifier', 'Origination Channel ': 'origination channel', 'Seller Name': 'seller name', 'Original Interest Rate': 'original interest rate', 'Original UPB': 'original upb', 'Original Loan Term': 'original loan term', 'Origination Date': 'origination date', 'First Payment Date': 'first payment date', 'Original Loan-to-value (LTV)': 'ltv', 'Original Combined Loan-to-value (CLTV)': 'cltv', 'Number of Borrowers': 'number of borrowers', 'Original Debt to Income Ratio ': 'original debt to income ratio', 'Borrower Credit Score at Origination': 'borrower credit score at origination', 'First Time Home Buyer Indicator': 'first time home buyer indicator', 'Loan Purpose': 'loan purpose', 'Property Type': 'property type', 'Number of Units': 'number of units', 'Occupancy Type': 'occupancy type', 'Property State': 'property state', 'Zip Code Short': 'zip code short', 'Product Type': 'product type', 'Relocation Mortgage Indicator': 'relocation mortgage indicator'})

In [17]:
clean_df.head()

,loan identifier,Origination Channel,seller name,original interest rate,original upb,original loan term,origination date,first payment date,ltv,cltv,...,borrower credit score at origination,first time home buyer indicator,Loan Purpose,property type,number of units,occupancy type,property state,zip code short,product type,relocation mortgage indicator
0,1.000010e+11,C,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",6,324000,360,2018-09-01,2018-11-01,80,80,...,692.0,N,C,PU,1,P,CA,925,FRM,N
1,1.000180e+11,B,OTHER,5,307000,360,2018-12-01,2019-02-01,90,90,...,722.0,N,P,PU,1,P,TX,770,FRM,N
2,1.000180e+11,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5,256000,360,2018-11-01,2019-01-01,90,90,...,728.0,N,P,SF,1,S,NC,286,FRM,N
3,1.000200e+11,C,"WELLS FARGO BANK, N.A.",5,248000,360,2018-12-01,2019-02-01,90,90,...,730.0,Y,P,SF,1,P,IL,600,FRM,N
4,1.000200e+11,B,"UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITE...",4,490000,360,2019-03-01,2019-05-01,67,67,...,727.0,Y,P,CO,1,P,CA,945,FRM,N

In [18]:
# saving the dataframe 
clean_df.to_csv('cleaned_aq.csv')